/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

.wp-block-columns {
  max-width: 1920px;
  margin: 0 auto;
}

.wp-block-column {
  max-width: 36.45833333333333vw;
  //margin: 0 8.33333333vw;
  margin: 0 4.513888888888vw;
}



@media (min-width: 782px){
  .wp-block-column:not(:first-child) {
    margin-left: 4.513888888888vw !important;
  }
}

@media (max-width: 599px){
  .wp-block-columns{
    .wp-block-column{
      margin: 0 auto;
      max-width: 75vw;
      .wp-block-image {
        width: 75vw;
        height: 75vw;
      }
    }

  } 
  .overlay_main {
    .overlay_content{
      .title{
        padding-top: 6.9rem;
      }
      .button_close {
        right: 2rem;
        top: 2rem;
      }
      .image_con{
        margin:0 1rem;
      }
    }
  }
}

@media (max-width: 781px) and (min-width: 600px){

  section .wp-block-columns {
      flex-wrap: nowrap;
    .wp-block-column {
      max-width: 36.45833333333333vw;
      margin: 0 4.2vw;
    }
  }
    
}
