/* ==========================================================================
   #IMAGES
   ========================================================================== */

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */

img {
  font-style: italic; /* [2] */
  max-width: 100%; /* [1] */
  vertical-align: middle; /* [3] */
}

/**
 * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */

img[width],
img[height] {
  max-width: none;
}


.wp-block-columns{

  .wp-block-image {
    width: 36.45833333333333vw;
    height: 36.45833333333333vw;
    margin: 5vw 0 9.0276666666vw 0;
    max-width: 700px;
    max-height: 700px;
    border: 1px solid $color-border;
    overflow: hidden;
    background-color: $color-border;

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
      transform: scale(1.3);
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
    }

    & img.transition-img {
      -webkit-transform: scale(1.6); 
      -moz-transform: scale(1.6);
      -o-transform: scale(1.6);
      transform: scale(1.6);
    }
  }
}

.image-round{
  .wp-block-image{
    border-radius: 50%;
  }
}

.overlay_content{

  img{
    border: 1px solid $color-border;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.05));
  }
}
